html, body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background: #000;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-size: 1vw;
	font-weight: 400;
	color: #fcfcfc;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	// padding: 0 3vw 0;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

#app {
	overflow-y: scroll;
	// overflow: hidden;
	height: 100%;
	font-size: calc(1em + 11px);
	width: 100%;
	// padding-top: 8vh; // leave room for header
	// padding-bottom: calc( 2.5em + 3vh);
	&.fix {
		position: fixed;
		overflow: hidden;
		// padding-right: 12px;
	}
	h1 {
		font-size: 2.5em;
		font-weight: 500;
		padding: 0 4vw;
		margin: .5em 0;
		// text-align: center;
		// position: relative;
		// > a {
		// 	position: absolute;
		// 	left: 3vw;
		// 	top: 50%;
		// 	transform: translateY(-50%);
		// 	color: inherit;
		// 	font-size: .75em;
		// }
	}
	// h1 { // this is intended to be the page header, only once per route, showing at the top of the page
	// 	text-align: center;
	// 	font-size: 1em;
	// 	font-weight: 500;
	// 	padding: 2vh 0 1vh;
	// 	margin: 0;
	// 	position:fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	background: rgba(0,0,0,0.5);
	// 	backdrop-filter: blur(15px);
	// 	z-index: 10;
	// }
}
