.stub {
  min-height: 6em;
  &.expanded {
    .content {
      position: fixed;
      top:10vh !important;
      left: 0;
      width:100vw;
      height:90vh !important;
      padding: 2em 2vmax 2vmax;
      z-index: 99;
      background-color: #222 !important;
      flex-direction: column;
      justify-content: flex-start;
      box-shadow: 0 -3em 4em #000;
      .close {
        display: block;
        cursor: pointer;
        position:absolute;
        top: -10vh;
        right: 0;
        width: 100%;
        height: 5.5em;
        color: #777;
        font-size: 1.25em;
        // border: 1px solid red;
        svg {
          position:absolute;
          bottom: 0.5em;
          left: 50%;
          transform: translateX(-50%) scaleX(2);
        }
        // &:before {
        //   content: '';
        //   position: fixed;
        //   top:0;left:0;
        //   width:100%;
        //   height: 4em;
        //   cursor: default;
        // } 
      }
      .text {
        flex-basis: auto;
        transition: margin-left 250ms linear;
        margin-left: 0 !important;
        h2 {
          font-size: 1.5em;
          cursor: text;
        }
        p {
          font-size: 0.85em;
        }
      }
      .img {
        width: 100%;
        max-height: unset;
        order:1;
        margin-top: 1em;
        text-align: center;
        cursor: default;
        img {
          border-radius: .5vmin;
          width: 100%;
          max-width: 100%;
        }
        img:nth-of-type(2) {
          position:absolute;
          right:0;
          transform: translateX(100%);
        }
      }
      .description {
        display: block;
        order: 2;
        color: #ececec;
        font-weight: 400;
        p {
          text-align: justify;
          word-break: normal;
          hyphens: auto;
          
          &:empty {
            &::before {
              content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque sit amet porttitor eget dolor morbi. Sed felis eget velit aliquet sagittis id consectetur purus.';
              animation-duration: 500ms;
              animation-name: deblur;
              animation-timing-function: ease-out;
            }
          }
        }
      }
      .links {
        display: block;
        position: absolute;
        bottom: 1em;
        left: 0;
        width: calc(100% - 2em);
        margin: 1.5em 1em;
        justify-content: space-between;
        a {
          float: right;
          // flex-basis: 32%;
          text-align:center;
          // display: block;
          color: #888;
          text-decoration: none;
          padding: .5em 1em;
          border-radius: .5em;
          border: 1px solid #888;
          cursor: pointer;
        }
        svg {
          float: left;
          color: #777;
          cursor: pointer;
          font-size: 1.5em;
          margin: .25em .5em;
        }
      }
    }
  }
  &:not(.expanded) {
    &:active {
      .content {
        background-color: #222;
        .text {
          h2 {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.read {
    .content {
      opacity:.5;
    }
  }

  .content {
    transition: top 250ms linear, height 250ms linear;
    display: flex;
    justify-content: space-between;
    border-radius: 2vmin;
    padding: .5em 1vw;
    left:3vw;
    background-color: #000;

    .close, .description, .links {
      display:none;
    }
    .img {
      width: 25vw;
      max-height: 5em;
      overflow: hidden;
      border-radius: .5vw;
      cursor: pointer;
      img {
        width: 100%;
        &:not(.noTransition) {
          animation-duration: 1000ms;
          animation-timing-function: linear;
          animation-name: fadeblur;
        }
      }
    }
    .text {
      flex-basis: 63vw;
      transition: margin-left 0s linear 80ms;
      h2 {
        transition: font-size 250ms linear;
        margin: 0 0 .3em;
        font-size: 1em;
        color: #f3f3f3;
        cursor: pointer;
        animation-duration: 1000ms;
        animation-timing-function: ease-out;
        animation-name: deblur;
        
        &:empty {
          &::before {
            content: 'Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque';
            filter: blur(3px);
          }
        }
      }
      p {
        margin: 0 0 .2em;
        font-size: .8em;
        color: #999;
        animation-duration: 1000ms;
        animation-timing-function: ease-out;
        animation-name: deblur;
        
        &:empty {
          &::before {
            content: 'Aliquet Porttitor / Vitae Curabitur / 8d';
            filter: blur(3px);
          }
        }
      }
    }
  }
}

@keyframes deblur {
  0% {
    filter: blur(10px);
  }
  75% {
    filter: blur(6px)
  }
  100% {
    filter: blur(3px);
  }
}

@keyframes fadeblur {
  0% {
    filter: blur(10px) grayscale(100%);
    opacity:0.1;
  }
  75% {
    filter: blur(6px) grayscale(100%);
    opacity:0.2;
  }
  100% {
    filter: blur(1px) grayscale(0%);
    opacity: 1;
  }
}