.homescreen {
  @media screen and (min-width: 768px) {
    padding: 0.5vw 1vw;
    font-size: 0.7em;
  }
  @media screen and (min-width: 1024px) {
    padding: 0.5vw;
  }
  @media screen and (min-width: 1600px) {
    padding: 1vw;
    font-size: 0.65em;
  }
  --bgurl: url('/assets/inky_splat.jpg');
  padding: env(safe-area-inset-top) env(safe-area-inset-left) 0;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  background: var(--bgurl) center center / cover;
  // border-radius: 10vw 10vw 0 0;
  height: 100%;
  align-items: flex-start;
  align-content: flex-start;
  user-select: none;
  // overflow: hidden;
}
