.homescreen {
  --bgurl: url('/assets/inky_splat.jpg');
  padding-top: 5vh;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  background: var(--bgurl) center center / cover;
  // border-radius: 10vw 10vw 0 0;
  height: 100%;
  align-items: flex-start;
  align-content: flex-start;
  user-select: none;
  // overflow: hidden;
}
