.nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: .25em 0 3vh;
	background: rgba(0,0,0,0.85);
	backdrop-filter: blur(5px);
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
	z-index: 50;
	display: flex;
	justify-content: space-around;
	font-size: 1.25em;

	a {
		color: #555;
		padding: .25em;

		&:not(.active) {
			&:hover,
			&:active {
				color: #fff;
			}
		}

		&.active {
			color: #1da1f2;
		}
	}
}